<!doctype html>
<title>Countdown Creator</title>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <link rel="shortcut icon" href="{{ url_for('static',filename='favicon.ico') }}">
  <link rel="apple-touch-icon" sizes="114x114" href="{{ url_for('static',filename='icon-apple-114.png') }}">
  <link rel="apple-touch-icon" sizes="120x120" href="{{ url_for('static',filename='icon-apple-120.png') }}">
  <link rel="apple-touch-icon" sizes="144x144" href="{{ url_for('static',filename='icon-apple-144.png') }}">
  <link rel="apple-touch-icon" sizes="152x152" href="{{ url_for('static',filename='icon-apple-152.png') }}">
  <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static',filename='icon-apple-180.png') }}">
  <link rel="apple-touch-icon" sizes="57x57" href="{{ url_for('static',filename='icon-apple-57.png') }}">
  <link rel="apple-touch-icon" sizes="60x60" href="{{ url_for('static',filename='icon-apple-60.png') }}">
  <link rel="apple-touch-icon" sizes="72x72" href="{{ url_for('static',filename='icon-apple-72.png') }}">
  <link rel="apple-touch-icon" sizes="76x76" href="{{ url_for('static',filename='icon-apple-76.png') }}">
  <script type="text/javascript">
    String.prototype.toHHMMSS = function () {
      var sec_num = parseInt(this, 10); // don't forget the second param
      var hours   = Math.floor(sec_num / 3600);
      var minutes = Math.floor((sec_num - (hours * 3600)) / 60);
      var seconds = sec_num - (hours * 3600) - (minutes * 60);

      if (hours   < 10) {hours   = "0"+hours;}
      if (minutes < 10) {minutes = "0"+minutes;}
      if (seconds < 10) {seconds = "0"+seconds;}
      return {'string': hours+':'+minutes+':'+seconds,
              'hours': parseInt(hours, 10),
              'minutes': parseInt(minutes, 10),
              'seconds': parseInt(seconds, 10)};
    }

    function sliderToLabels()
    {
      var val =document.getElementById("durationslider").value;
      var results = val.toHHMMSS();

      document.getElementById("h").value = results['hours'];
      document.getElementById("m").value = results['minutes'];
      document.getElementById("s").value = results['seconds'];
    }

    function labelToSlider()
    {
      h = parseInt(document.getElementById("h").value, 10);
      m = parseInt(document.getElementById("m").value, 10);
      s = parseInt(document.getElementById("s").value, 10);

      document.getElementById("durationslider").value = (h*3600 + m*60 + s);
    }
  </script>
  <link rel= "stylesheet" type= "text/css" href="{{ url_for('static',filename='styles/home.css') }}">
</head>
<body>
  <form method=post enctype=multipart/form-data>
    <div>
      <label for="email">Enter your email:</label>
      <input type="email" id="email" name="email" required>
    </div>
    <div>
      <label for="video">Select a video file:</label>
      <input type="file" id="video" name="video" required>
    </div>
    <div id="slider-block">
      <label for="durationslider">Video length seconds:</label>
      <input type="range" id="durationslider" name="durationslider" min="30" max="7200" value="1800" step="15" onchange="sliderToLabels()" oninput="sliderToLabels()">
    </div>
    <div>
      <label for='h'>Hours:</label>
      <input id='h' name='h' type='number' min='0' max='2' value="0" onchange="labelToSlider()" oninput="labelToSlider()">
      <label for='m'>Minutes:</label>
      <input id='m' name='m' type='number' min='0' max='59' value="30" onchange="labelToSlider()" oninput="labelToSlider()">
      <label for='s'>Seconds:</label>
      <input id='s' name='s' type='number' min='0' max='59' value="0" onchange="labelToSlider()" oninput="labelToSlider()">
    </div>
    <div>
      <label for="audio">Audio Track:</label>
      <select name="audio" id="audio">
        {%for item in audio_options%}
  
          <option value="{{item}}">{{item}}</option>
        {%endfor%}
      </select>
    </div>
    <div id="submit-block">
      <input type="submit" id="submit" value="Upload">
    </div>
  </form>
</body>